body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Roboto Mono', monospace; /* 使用 Google 字体 */
    font-size: 2rem;
}

.message {
    display: inline;
    font-family: 'Roboto Mono', monospace; /* 使用 Google 字体 */
}

.cursor {
    display: inline-block;
    width: 0.6rem;
    background-color: yellow;
    animation: blink 1s steps(2) infinite;
    vertical-align: bottom;
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    50.01%, 100% {
        opacity: 0;
    }
}
